<html>
    <head>
        <title> VSA </title>
    </head>
    <body>
        <div class="svg-container"><svg></svg></div>
        <div class="vsa" id="root">
            {{ vsa_html|safe }}
        </div>
    </body>
    <style>
body {
    width: 100vw;
    height: 100vh;
    user-select: none;
}
.svg-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

body {
    padding: 10px;
}
.vsa {
  font-family: monospace;
  font-size: 1.5em;
  max-width: 100vw;
  font-size: calc(1vw);
  position: relative;
}

.vsa *:not(.lit) {
  padding: 10px;
}

.union {
  align-items: center;
}

.join {
}

.join .op {
    font-weight: bold;
    text-decoration: underline;
}

.box {
    border: 1px solid black;
    text-align: center;
    position: absolute;
}

.op {
  margin-right: 5px;
}

.leaf {
  margin-left: 10px;
  margin-right: 10px;
}

.lit {
}
    </style>

    <script>
        window.root = document.querySelector('#root');
        window.vsas = () => allChildren(root);

        function allChildren(node) {
            function helper(node, acc) {
                for (let child of node.children) {
                    acc.push(child);
                    helper(child, acc);
                }
            }

            let acc = [node]
            helper(node, acc);
            return acc;
        }

        vsas().forEach(node => {
            node.onclick = () => {
            }
        });

        let svg_container = document.querySelector('svg');
        let nodes = new Map();
        let add_child = (parent, child) => {
            let parent_info = nodes.get(parent);
            if (parent_info === undefined) {
                parent_info = {
                    node: parent,
                    children: new Set(),
                    parents: new Set(),
                    from_lines: new Set(),
                    to_lines: new Set()
                };
                nodes.set(parent, parent_info);
            }
            parent_info.children.add(child);
        };
        let add_parent = (child, parent) => {
            let child_info = nodes.get(child);
            if (child_info === undefined) {
                child_info = {
                    node: child,
                    children: new Set(),
                    parents: new Set(),
                    from_lines: new Set(),
                    to_lines: new Set()
                };
                nodes.set(child, child_info);
            }
            child_info.parents.add(parent);
        };
        let add_edge = (parent, child, line) => {
            add_child(parent, child);
            add_parent(child, parent);
            nodes.get(parent).from_lines.add(line);
            nodes.get(child).to_lines.add(line);
        };
        function find_parent_box(node) {
            function helper(node) {
                if (node.classList === undefined) return null;

                if (node.classList.contains('union') || node.classList.contains('join')) {
                    return node.children[0];
                } else {
                    return helper(node.parentNode);
                }
            }

            return helper(node.parentNode.parentNode);
        }
        for (let node of document.querySelectorAll('.box')) {
            let box = find_parent_box(node);
            if (box !== null) {
                let child = node;
                let line = svg_container.appendChild(document.createElementNS('http://www.w3.org/2000/svg', 'line'));
                line.setAttribute('x1', box.offsetLeft + box.offsetWidth / 2);
                line.setAttribute('y1', box.offsetTop + box.offsetHeight);
                line.setAttribute('x2', child.offsetLeft + child.offsetWidth / 2);
                line.setAttribute('y2', child.offsetTop);
                line.setAttribute('stroke', 'black');

                add_edge(box, child, line);
            } else {
                // root
                nodes.set(node, {
                    node: node,
                    children: new Set(),
                    parents: new Set(),
                    from_lines: new Set(),
                    to_lines: new Set()
                });
            }
        }

        for (let [node, info] of nodes.entries()) {
            let from_lines = Array.from(info.from_lines);
            let to_lines = Array.from(info.to_lines);

            // make node draggable
            node.onmousedown = (e) => {
                let x = e.clientX;
                let y = e.clientY;
                let move = (e) => {
                    x = e.clientX;
                    y = e.clientY;
                    node.style.left = x - node.offsetWidth / 2 + 'px';
                    node.style.top = y - node.offsetHeight / 2 + 'px';
                    for (let line of from_lines) {
                        line.setAttribute('x1', node.offsetLeft + node.offsetWidth / 2);
                        line.setAttribute('y1', node.offsetTop + node.offsetHeight);
                    }
                    for (let line of to_lines) {
                        line.setAttribute('x2', node.offsetLeft + node.offsetWidth / 2);
                        line.setAttribute('y2', node.offsetTop);
                    }
                };
                let up = (e) => {
                    document.removeEventListener('mousemove', move);
                    document.removeEventListener('mouseup', up);
                };
                document.addEventListener('mousemove', move);
                document.addEventListener('mouseup', up);
            };
        }
    </script>
</html>
